html {
	margin: 0;
	padding: 0;
	background-origin: border-box;
}
body {
	background: #eeeeee;
	margin: 0;
	padding: 0;
	background-origin: border-box;	
}

.header {
	min-height: 55px;
	width: 100%;
	position: relative;
	background: #fafafa;
}

.footer {
	min-height: 55px;
	width: 100%;	
	position: relative;	
	background: #fafafa;
}